#ecologieBody{
    background-image: url('../images/ecolo.jpeg');
    height: 100%;
    width: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 25%; 
    display: flex;
    justify-content: center;
}

#chasseBody{
    background-image: url('../images/chasseur.jpg');
    height: 100%;
    width: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 25%;
    display: flex;
    justify-content: center; 
}

#generalBody{
    background-image: url('../images/general.jpeg');
    height: 100%;
    width: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 25%;
    display: flex;
    justify-content: center; 
}

#randonneeBody{
    background-image: url('../images/rand.png');
    height: 100%;
    width: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 25%; 
    display: flex;
    justify-content: center;
}

#photosBody{
    background-image: url('../images/pexels-photo-186689.jpeg');
    height: 100%;
    width: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 25%; 
    display: flex;
    justify-content: center;
}

#pecheBody{
    background-image: url('../images/pecher.jpg');
    height: 100%;
    width: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 25%;
    display: flex;
    justify-content: center;
}

.profilgauche{
    border: solid 0px;
    padding-bottom:1%;
    margin: 2%;
    background: rgba(10,5,3,0.1);
    border-radius: 15px/15px;
    box-shadow: 0px 0px 10px 1px rgb(10,10,10,1);
    align-items: center;
    height: 690px;
    padding-top: 1%;

}

.profildroite{
    border: solid 0px;
    padding-bottom:1%;
    margin: 2%;
    background: rgba(10,5,3,0.1);
    border-radius: 15px/15px;
    box-shadow: 0px 0px 10px 1px rgb(10,10,10,1);
    align-items: center;
    height: 690px;
    padding-top: 1%;
}

.gauche{
    border: solid 0px;
    margin: 2%;
    background: rgba(10,5,3,0.6);
    border-radius: 15px/15px;
    padding: 3%;
    color: #fff;
    align-items: center;
    height: 85%;
    margin-top:2%;
}

.droite{
    border: solid 0px;
    margin: 2%;
    background: rgba(10,5,3,0.6);
    border-radius: 15px/15px;
    padding: 3%;
    color: #fff;
    align-items: center;
    height: 84%;
    margin-top:1%;
}

table img{
    width: 8%;
}

.enteteLogo img{
    width: 20%;
}

.enteteLogo p {
    text-align: center;
}

.profildroite p{
    color: white;

}

table{
    font-size: 1.5em;
    margin-bottom: -1%;
    text-align: center;
}









