body{
    background-image: url('../images/pexels-photo-122588.jpeg');
    height: 100%;
    width: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.avatar{
    width: 20%;
    margin: 2%;
}

.entete{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 2em;
}

.enteteform{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 120%;
    margin-top: 5%;
    justify-items: center;
    margin-left: 5%;

}
.logocabane{
    width: 25%;
    margin-top: 2%;
}

table{
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    border: solid 0px;
    margin: 2%;
    background: rgba(10,5,3,0.6);
    border-radius: 15px/15px;
    padding: 3%;
    color: #fff;
    height: 485px;
    align-items: center;
}

.profilgauche{
    border: solid 0px;
    padding-bottom:1%;
    margin: 2%;
    background: rgba(10,5,3,0.1);
    border-radius: 15px/15px;
    box-shadow: 0px 0px 10px 1px rgb(10,10,10,1);
    align-items: center;
    height: 690px;
}

#submitSignIn{
    margin-right: 10%;
}

.container img{
    width: 100%;
    box-shadow:0px 0px 10px 1px rgb(10,10,10,1);
}

.row img{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.row :hover img{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.profildroite{
    border: solid 0px;
    padding-bottom:1%;
    margin: 2%;
    background: rgba(10,5,3,0.1);
    border-radius: 15px/15px;
    box-shadow: 0px 0px 10px 1px rgb(10,10,10,1);
    align-items: center;
    height: 690px;
    padding-top: 1%;
}

.profphotos{

    border: solid 0px;
    margin: 2%;
    background: rgba(10,5,3,0.6);
    border-radius: 15px/15px;
    padding: 3%;
    color: #fff;
    align-items: center;
    height: 95%;
    padding-top: 10%;
}

.logoEntete{
    width: 10%;
}