body{
    background-image: url('../images/bgindex.jpg');
    height: 100%;
    width: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 25%; 
}

.f1 a{
    text-decoration: none;
    display: block;
    font-size: 3em;
    transition: 0.8s;
    margin-left: 6%;
    margin-top: 7%;
    color: #fff;
    text-shadow: 2px 2px 7px #303030;
    font-weight: bold;
}

.f1 a:hover{
	color:rgb(255, 234, 115);
    transition: 0.6s;
    text-decoration: none;
}