body{
    background-image: url('../images/nature-forest-moss-leaves.jpg');
    height: 100%;
    width: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    border: solid 0px;
    margin-top: 10%;
    padding-bottom: 2%;
    margin: 9%;
    background: rgba(10,5,3,0.1);
    border-radius: 15px/15px;
    box-shadow: 0px 0px 10px 1px rgb(70,70,70,10);
}

.well{
    background: rgba(10,5,3,0.6);
    border-radius: 15px/15px;
    padding: 3%;
    color: #fff;
}

h2{
    text-align: center;
    color: #fff;
}

td{
    width: 10%;
}

.form-control{
    margin: 1%;
}

